%h1 Welcome to My D.I.Y.
/ The container for the list of example images
#links.links
/ The Gallery as lightbox dialog, should be a child element of the document body
#blueimp-gallery.blueimp-gallery
  .slides
  %h3.title
  %a.prev ‹
  %a.next ›
  %a.close ×
  %a.play-pause
  %ol.indicator
