// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  .index {
    body {
      max-width: 750px;
      margin: 0 auto;
      padding: 1em;
      font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
      font-size: 1em;
      line-height: 1.4em;
      background: #222;
      color: #fff;
      -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
    }
    a {
      color: orange;
      text-decoration: none;
    }
    img {
      border: 0;
      vertical-align: middle;
    }
    h1 {
      line-height: 1em;
    }
    h1, h2,.links {
      text-align: center;
    }
    
    @media (min-width: 481px) {
      .navigation {
        list-style: none;
        padding: 0;
      }
      .navigation li {
        display: inline-block;
      }
      .navigation li:not(:first-child):before {
        content: '| ';
      }
      }
    }
  #chart {
    rect.bordered {
      stroke: #E6E6E6;
      stroke-width:2px;   
    }
    
    text.mono {
      font-size: 9pt;
      font-family: Consolas, courier;
      fill: #000;
    }
    
    text.axis-workweek {
      fill: #f00;
    }
    
    text.axis-worktime {
      fill: #f00;
    }
    
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    
  }
  #export {
    margin-top: 20px;
  }
  #linechart {
    font: 10px sans-serif;
    
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
  }
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}   
.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;   
}

.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #000;
}

.axis-workweek {
  fill: #f00;
}

.axis-worktime {
  fill: #f00;
}
